<h1>Pick a City.</h1>
<h1>Pick a Team.</h1>

<form action='/search' method='get'>
  <input type="text" name="city" placeholder="city"></br>
  <input type="text" name="term" placeholder="team"></br>
<button>Search</button>
</form>

<% if @response["businesses"] %>
<h1>Results</h1>
<% @response["businesses"].each do |business| %>
  <li>
    <%= link_to business["name"], business["url"] %>
  </li>
    <ul>
      <li>Rating: <%= business["rating"] %></li>
      <li>Phone: <%= business["phone"] %></li>
    </ul>
    <%= button_to("Favorite", favorite_bar_path(business["name"], rating: business["rating"], phone: business["phone"])) %></br>

<% end %>
<% end %>