<div id="new-search">
  <a href="/"><h1 id="pick-team">New Search<h1></a>
</div>

<div id="results">
  <% if @response["businesses"] %>
  <h1 id="pick-team">Watch the Game Here!</h1></br></br>
  <% @response["businesses"].each do |business| %>
    <p class="division">
      <%= link_to business["name"], business["url"] %>
    </p>

        <p class="team">Rating: <%= business["rating"] %></p>
        <p class="team">Phone: <%= business["phone"] %></p>
      </br>
      </br>
  <% end %>
  <% end %>
</div>