<h1>Search</h1>

<form action='/search' method='get'>
  <input type="text" name="term" placeholder="team">
  <input type="text" name="city" placeholder="city">

<button>Search</button>
</form>

<% if @response["businesses"] %>
<% @response["businesses"].each do |business| %>
  <li>
    <%= link_to business["name"], business["url"] %>
  </li>
    <ul>
      <li>Rating: <%= business["rating"] %></li>
      <li>Phone: <%= business["phone"] %></li>
    </ul>
    <%= button_to("Favorite", favorite_bar_path) %></br>

<% end %>
<% end %>