<div id="welcome-center">
  <div id="title-div">
    <h1 id="pick">Where do you live?</h1>
  </div>

  <div id="form-div">
    <form action='/teams' method='get'>
      <input size="40" type="text" name="city">
      <button>Search</button>
    </form>
  </div>
</div>