<!--   <div class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
<br style="clear:left"/>
</div> -->
